
html {
	font-size: 18px;
	line-height: 1.4;
}

body {
	font-family: Helvetica, sans-serif;
}


/*Main Header and Navigation*/

.main-container {
	height: 31rem;
	background-image: url(../images/glasses-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

nav {
	max-width: 960px;
	background-color: cadetblue;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 1rem;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0 1rem 0;
}

.logo img {
	height: 1.5rem;
	margin: 0 1rem 0 2rem;
}

.logo h3 {
	font-size: 1rem;
	color: white;
}

.navigation {
	display: flex;
	align-items: center;
	padding: 1rem 0 1rem 0
}

.navigation ul {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation ul li {
	margin-right: 2rem;
}

.catchphrase {
	width: 37%;
	background-color: white;
	display: flex;
	position: relative;
	top: 11rem;
	left: 43rem;
	justify-content: center;
	align-items: center;
}

.catchphrase h1 {
	font-size: 2rem;
	font-weight: bold;
	padding: 1.5rem 5rem 1.5rem 5rem;
}


/*Services Section*/

.services {
	width: 50%;
	margin: 3rem auto 3rem auto;
	display: flex;
	justify-content: center;
	align-items: center;

}

.service {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 5rem;
	height: 8rem;
}

.service h3 {
	text-align: center;
}

.imgpaper img {
	width: 3.5rem;
}

.imgruler img {
	width: 5rem;
}

.imgtruck img {
	width: 5rem;
}

#ruler {
	margin: 0 6rem 0 6rem;
}

/*Text Section*/

.textcontainer {
	margin: 3rem auto 0 23rem;
	display: flex;
	justify-content: center;
	width: 50%;
}

.philosophy {
	width: 35%;
	margin-right: 5%;
}

.appointments {
	width: 35%;
}

.heading h2 {
	color: white;
	display: inline-block;
	background-color: cadetblue;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 2.75rem 0.5rem 1.25rem;
	margin-bottom: 1rem;

}


/*Footer Section*/

.footer {
	background-color: azure;
	display: flex;
	justify-content: flex-start;
	padding: 4rem 0 4rem 0;
	margin-top: 5rem;

}

.footer img {
	height: 1.5rem;
	margin: 0 1rem 0 4rem;

}